TaxServiceModule/src/main/resources/META-INF/wsdl/tax_service.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://taxservice.estafet.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TaxServiceEndpointService" targetNamespace="http://taxservice.estafet.com/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://taxservice.estafet.com/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://taxservice.estafet.com/">
            <xsd:element name="taxRequest" type="tns:taxRequest"/>
            <xsd:complexType name="taxRequest">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="invoiceType" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="taxRequestResponse" type="tns:taxRequestResponse"/>
            <xsd:complexType name="taxRequestResponse">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="percent" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="createTaxRequest" type="tns:createTaxRequest"/>
                <xsd:complexType name="createTaxRequest">
                    <xsd:sequence>
                        <xsd:element minOccurs="0" name="taxName" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="invoiceType" type="xsd:string"/>
                        <xsd:element minOccurs="0" name="taxPercent" type="xsd:string"/>
                    </xsd:sequence>
                 </xsd:complexType>

            <xsd:element name="createTaxResponse" type="tns:createTaxResponse"/>
                <xsd:complexType name="createTaxResponse">
                    <xsd:sequence>
                        <xsd:element minOccurs="1" name="code" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="taxRequestResponse">
        <wsdl:part element="tns:taxRequestResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="taxRequest">
        <wsdl:part element="tns:taxRequest" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="createTaxRequest">
        <wsdl:part element="tns:createTaxRequest" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="createTaxResponse">
        <wsdl:part element="tns:createTaxResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="TaxService">
        <wsdl:operation name="taxRequest">
            <wsdl:input message="tns:taxRequest" name="taxRequest">
            </wsdl:input>
            <wsdl:output message="tns:taxRequestResponse" name="taxRequestResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTax">
            <wsdl:input message="tns:createTaxRequest" name="createTaxRequest"/>
            <wsdl:output message="tns:createTaxResponse" name="createTaxResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TaxServiceEndpointServiceSoapBinding" type="tns:TaxService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="taxRequest">
            <soap:operation soapAction="http://taxservice.estafet.com/taxRequest" style="document"/>
            <wsdl:input name="taxRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="taxRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createTax">
            <soap:operation soapAction="http://taxservice.estafet.com/createTax" style="document"/>
            <wsdl:input name="createTaxRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="createTaxResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TaxServiceEndpointService">
        <wsdl:port binding="tns:TaxServiceEndpointServiceSoapBinding" name="TaxServiceEndpoint">
            <soap:address location="http://localhost:10354/tax_service"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>